* {
  box-sizing: border-box;
  font-family: "IBM Plex Mono", serif;
  margin: 0;
  padding: 0;
  --color-purple: #5d04d9;
  --color-dark-blue: #03318c;
}

body {
  background-color: #fff;
}

.font-press-start {
  font-family: "Press Start 2P", serif;
}

.title {
  font-family: "Press Start 2P", serif;
  font-size: 24px;
}

/* HEADER */

header {
  align-items: center;
  background-color: var(--color-purple);
  box-shadow: 0px 7px 0.9px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 96px;
  justify-content: center;
}

/* LOGO */

.logo {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo h2 {
  color: #e5e5e5;
  font-size: 24px;
  font-weight: 200;
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
}

/* ADD PRODUCT */

.add-product {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 32px;
  padding-inline: 40px;
}

.add-product form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  margin-bottom: 40px;
}

.add-product h1 {
  /* width: 350px; */
  margin-top: 40px;
  text-align: center;
}

.add-product input {
  border: 3px solid var(--color-dark-blue);
  border-radius: 32px;
  color: var(--color-dark-blue);
  font-size: 16px;
  height: 56px;
  padding: 8px 16px;
  width: 100%;
}

.add-product input::placeholder {
  color: var(--color-dark-blue);
}

.btns {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  padding-inline: 8px;
  width: 100%;
}

.btn {
  border-radius: 16px;
  font-size: 20px;
  font-weight: 500;
  height: 56px;
  width: 100%;
}

.btn-dark {
  background-color: var(--color-dark-blue);
  border: none;
  color: white;
}

.btn-light {
  background-color: white;
  border: 3px solid var(--color-dark-blue);
  color: var(--color-dark-blue);
}

/* MY PRODUCTS */

.my-products {
  display: flex;
  flex-direction: column;
}

.my-products h1 {
  margin-block: 56px;
  text-align: center;
}

.my-products__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 0 40px 16px;
}

.my-products__container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  overflow: scroll;
  padding: 0 0 24px 8px;
}

.my-products__obj {
  background-color: var(--color-purple);
  border: 3px solid black;
  border-radius: 8px;
  box-shadow: -5px 6px 3.3px rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 258px;
  padding: 8px;
  width: 200px;
}

.my-products__obj > img {
  border: 3px solid black;
  border-radius: 8px;
  height: 174px;
  width: 176px;
}

.my-products__obj > span {
  font-size: 15px;
}

.my-products__obj > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.my-products__price {
  font-size: 16px;
  font-weight: bold;
}

.my-products__icon-delete {
  cursor: pointer;
}

/* FOOTER */

footer {
  align-items: center;
  background-color: var(--color-purple);
  display: flex;
  flex-direction: column;
  height: 168px;
  justify-content: center;
}

footer p {
  color: white;
  margin-bottom: 8px;
}

footer span {
  color: white;
  font-weight: 100;
}

@media (width > 1100px) {
  main {
    flex-direction: row-reverse;
    gap: 24px;
    padding: 1% 4%;
  }

  .title {
    font-size: 26px;
  }

  .font-press-start {
    font-size: 26px;
  }

  span {
    font-size: 16px !important;
  }

  p {
    font-size: 18px !important;
  }

  /* MY PRODUCTS */

  .my-products {
    justify-content: start;
    padding: 0;
  }

  .my-products__list {
    box-shadow: -12px 10px 5.8px rgba(0, 0, 0, 0.25);
    height: 550px;
    padding: 32px 40px 16px 16px;
    overflow-y: scroll;
  }

  .my-products > h1 {
    margin-bottom: 32px;
  }

  .my-products__container {
    overflow: visible;
  }

  /* ADD PRODUCT */

  .add-product {
    justify-content: start;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .add-product h1 {
    margin-top: 56px;
  }

  .add-product form {
    gap: 40px;
    padding-inline: 5%;
    width: 100%;
  }

  input {
    font-size: 18px !important;
    height: 64px !important;
  }

  .btn {
    font-size: 26px !important;
    height: 64px !important;
  }
}
